// IMPORT NORMALIZE

@import "normalize";

// IMPORT VARIABLES

@import "variables";

// IMPORT BOURBON

@import "bourbon/bourbon";
@import "bitters/base";
@import "neat/neat";

// TABLE OF CONTENTS

// 1. GLOBAL STYLES
// 2. FONTS
// 3. TYPOGRAPHY
// 4. FLASHES
// 5. LISTS
// 6. SIMPLIFIED GRID

// GLOBAL STYLES

body, html {
	width: 100%;
	height: 100%;
	background: $white;
	margin: 0;
	padding: 0;
	z-index: 1;
}

section {
	float: left;
	padding: 20px 10px;
	overflow: hidden;
	@include span-columns(12);
	@include box-sizing(border-box);
	@include mq(tablet) {
		padding: 30px 20px;
	}
}

.content-wrap {
	position: relative;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	@include row();
	@include outer-container;
	@include mq(iphone) {
		max-width: 320px;
	}
	@include mq(android) {
		max-width: 480px;
	}
	@include mq(tablet) {
		max-width: 768px;
	}
	@include mq(laptop) {
		max-width: 960px;
	}
	@include mq(desktop) {
		max-width: 1280px;
	}
}

// TYPOGRAPHY

h2 {
	float: left;
	@include span-columns(6);
	text-align: center;
	font-family: $roboto;
	font-size: 1.5em;
	font-weight: 100;
	@include mq(android) {
		font-size: 2.5em;
	}
	@include mq(tablet) {
		font-size: 3em;
	}
}

h3 {
	@include span-columns(12);
	@include box-sizing(border-box);
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
	font-family: $raleway;
	font-size: 1em;
	font-weight: 100;
	opacity: 0;
	@include mq(android) {
		font-size: 1.5em;
	}
	@include mq(tablet) {
		margin-top: 75px;
		@include span-columns(4);
		font-size: 2em;
	}
}

h4 {
	text-transform: capitalize;
	font-family: $roboto;
	font-size: 1em;
	font-weight: 300;
	@include mq(android) {
		font-size: 1.5em;
	}
	@include mq(tablet) {
		font-size: 2em;
	}
}

h5 {
	font-family: $roboto;
	font-size: .95em;
	font-weight: 300;
	margin-top: .65em;
	@include mq(android) {
		font-size: 1.15em;
	}
	@include mq(tablet) {
		font-size: 1.25em;
	}
}

.android {
	color: $androidGreen;
}

h6 {
	@include span-columns(12);
	text-align: center;
	font-family: $roboto;
	font-size: 1.5em;
	font-weight: 100;
	clear: both;
	margin-top: 20px;
	opacity: 0;
	@include animation-delay(.5s);
	@include animation-fill-mode(both);
	@include animation-iteration-count(1);
	@include mq(android) {
		font-size: 2.5em;
	}
	@include mq(tablet) {
		font-size: 3em;
	}
}

// IMPORTED CSS SECTIONS
@import "animate";
@import "header";
@import "hero";
@import "spec";
@import "bigsexy";
@import "footer";

// FLASHES
.success {
	@extend %flash-success;
}

.error {
	@extend %flash-error;
}

.notice {
	@extend %flash-notice;
}

.alert {
	@extend %flash-alert;
}

// LISTS
ol.default {
	@extend %default-ol;
}

ul.default {
	@extend %default-ul;
}